body {
    background-image: url("./background.jpg");
    background-repeat: repeat;
}


h1{
    text-align: center;
    color: aliceblue;
}

p{
    text-align: center;
    color: aliceblue;
}

img{
    color: aliceblue;
    max-width: 20%;
    height: auto;
}
