body {
    background-color: rgb(93, 12, 124);
}

img {
    max-width: 10%;
    height: auto;
}

div {
    color: cornsilk;
    border: 2px solid rgb(61, 190, 223);
    margin: 20px;
    padding: 5px;
}