body {
    background-image: url("./background.jpg");
    background-repeat: repeat;
}

img {
    max-width: 20%;
    height: auto;
}

 #pokeList{
    color: rgb(226, 220, 255);
    border: 5px solid rgb(61, 190, 223);
    margin: 50px;
    padding: 10px;
    
    
    
} 